<div class="div">
  <!-- <p>
    ind-influencer works!
  </p> -->
  <!-- <p *ngFor = "let data of singleInfluencer" >{{data.username}}</p> -->
  <!-- <div id="test-slider"></div> -->
  <!-- <app-filters [singleInfluencer]="singleInfluencer"></app-filters> -->
  

  <mat-card class="fullcard">
  <ul *ngFor = "let data of sortInterest" class="ul">
      <!-- <ul *ngFor="let item of data.stats.interests; let i = index" class="ul"> -->
          <!-- {{i}} {{item}} -->
              <mat-card >
                  <mat-card-header>
                      <div mat-card-avatar><img class="image" src={{data.picture}} onerror="this.src='https://i.postimg.cc/KvDsBx8B/iconfinder-JD-18-2246807.png'"></div>
                      <mat-card-title>{{data.fullName}}</mat-card-title>
                      <mat-card-subtitle>{{data.username}}</mat-card-subtitle>
                      <!-- <li class="text"></li> -->
                  </mat-card-header>  
              <mat-card-content class="chip">
                <mat-chip-list *ngFor="let item of data.stats.interests" class="chip">  
                    <mat-chip class="mattchip" (click)="chipClick(item)">{{item}}</mat-chip> 
                </mat-chip-list> 
              </mat-card-content>
              </mat-card>
  </ul>
</mat-card>
</div>